@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
    margin: 0;
}

.left-section {
    width: 30%;
    float: left;
    height: 700px;
}

.right-section {
    width: 70%;
    float: left;
    height: 700px;
}

.content {
    height: 700px;
    font-family: 'Poppins', sans-serif;
}

.background-sign-in {
    width: 80%;
    float: right;
    padding: 70px;
}

/*Sign in*/
.form-header {
    text-align: center;
    margin-top: 160px;
}

    .form-header h2 {
        color: #2125a7;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        text-align: center;
    }

.form-horizontal {
    position: absolute;
    padding: 30px 80px;
    width: 300px;
    height: 500px;
    background: rgba(255, 255, 255, 0.04);
}

.form-group {
    padding-bottom: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    display: inline-block;
}

    .form-group input {
        height: 100%;
        width: 100%;
        border: 1px;
        background: transparent;
        outline: none;
        color: #222;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        border: 2px solid #323130;
        border-radius: 4px;
    }
        .form-group input:focus {
            outline: none;
            border-color: #ff06af;
        }

.form-sign-in-button {
    background-color: #2125a7;
    border: 1px solid #02080c;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
}
.pass {
    text-align: left;
    padding-bottom: 10px;
    font-size: 15px;
}

    .pass a {
        color: #000;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }

    .pass:hover a {
        text-decoration: underline;
    }

.signup {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

    .signup a {
        color: #000;
        text-decoration: none;
    }

    .signup:hover a {
        text-decoration: underline;
    }

.smallhidden {
    visibility: hidden;
}

.smallshown {
    visibility: visible;
    color: red;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
