
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/Content/Home.css" rel="stylesheet" />

<body>
    <div class="content">
        <div class="left-section">
            <div class="left-section-text">
                <h1> Hi, </h1>
                <h3> Welcome to the new era of <span>Banking</span>.. </h3>
                <p>
                    Home banking is the practice of conducting banking transactions from home rather than at branch locations.
                    Home banking includes mobile banking, web banking, banking over the telephone, and banking by mail.
                    Saving time and reducing physical risks are the main benefits of home banking.
                </p>
                <button class="button1" href="#">Learn more &raquo;</button>
            </div>
        </div>
        <div class="right-section">

        </div>
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img src="~/Content/Images/1.jpg" style="width:100%" />
        </div>

        <div class="mySlides fade">
            <img src="~/Content/Images/2.jpg" style="width: 100%" />
        </div>

        <div class="mySlides fade">
            <img src="~/Content/Images/3.jpg" style="width: 100%" />
        </div>
    </div>
    <script src="~/Content/Javascript/script-home.js"></script>
</body>


