
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/Content/Product.css" rel="stylesheet" />

<body>
    <div class="content1">
        <div class="left-section">
            <div class="left-section-text">
                <h1> Home Loans </h1>
                <p>
                    SBI Home Loan is much sought after, thanks to its competitive interest rates and impressive turnaround times.
                    The interest rates are as low as 6.95%. The Loan process is see-through and quick.
                    Good repayment tenure that extends up to 30 years, makes paying back your Home Loan as easy as pie.
                </p>
                <button class="button1" href="#">Learn more &raquo;</button>
            </div>
        </div>
        <div class="right-section">

        </div>
    </div>

    <div class="content2">
        <div class="left-section">
            <div class="left-section-text">
                <h1> Personal Loan </h1>
                <p>
                    You borrow a loan when you require credit. Once you submit your loan application to a lender for a personal loan,
                    the lender verifies and approves it. Post this, the loan amount is disbursed into your bank account.
                    Once you receive the loan amount, you will need to repay the lender via EMIs for the loan repayment tenure.
                </p>
                <button class="button1" href="#">Learn more &raquo;</button>
            </div>
        </div>
        <div class="right-section">

        </div>
    </div>
    <div class="content3">
        <div class="left-section">
            <div class="left-section-text">
                <h1> Vehicle Loan </h1>
                <p>
                    The EMI for a car loan broadly depends on the period of the loan, interest rate, and the principal amount.
                    So, the EMI will vary with the rate of interest and the loan tenure.
                    For example: The EMI for a 7 lakh car loan at 7% interest and a loan duration of 5 years is Rs. 13,861.2
                </p>
                <button class="button1" href="#">Learn more &raquo;</button>
            </div>
        </div>
        <div class="right-section">

        </div>
    </div>
</body>

